.about{
   width: 100%;
   height: 100%;
   background-image: url("../images/about-image.jpg");
   background-position: center;
   background-size: cover;

   @include respond(tab-port){
      height: 1200px;
   }

   &__image--overlay{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .7);
   }

   &__content{
      width: 100%;
      height: 100%;

      &--center{
         width: 1000px;
         height: 100%;
         margin: 0 auto;

         @include respond(small-desktop){
               position: relative;
               top: 50%;
               left: 100px;
               transform: translateY(-50%);
               width: 800px;
         }

         @include respond(tab-land){
               width: 620px;
               margin: 0 auto;
         }

         @include respond(tab-port){
               left: 0;
               width:100%;
               margin: 0 auto;
         }
      }
   }
}

.personal-image{
   width: 200px;
   height: 200px;

   @include respond(tab-port){
      width: 100px;
      height: 100px;
   }
}

.personal-info{
   height: 200px;
   width: 100%;
   margin-top: 20px;
   font-family: 'Lato', sans-serif;
   text-align: center;
   color: rgb(230, 230, 230);

   @include respond(tab-port){
         width: 400px;
         margin: 0 auto;
         font-size: 20px;
   }

   &__title{
      font-size: 22px;
      margin-bottom: 10px;
   }

   &__email{
      font-size: 20px;
      margin-bottom: 10px;

      @include respond(tab-port){
            font-size: 19px;
      }
   }

   &__text{
      font-size: 18px;

      @include respond(tab-port){
            font-size: 17px;
      }
   }
}

.center-img{
   height: 200px;
   width: 200px;
   margin:0 auto;
   box-shadow: 2px 2px 15px rgba(0, 0, 0, .8);

   @include respond(tab-port){
      height: 100px;
      width: 100px;
   }
}
